body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}
    .main-container{
        display: flex;
        flex-direction: row-reverse;
        width: 1200px;   
        background:#ffff;
        margin: 40px auto;
        background: #FFFFFF;
        box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
        }
    /*main container selection*/
    .maine-content-sections{
        padding: 100px 90px;
    }
    
    .maine-content-title{
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        color: #000;
        margin-bottom: 10px; 

    }
    /*About me sections*/
    .About-me-sections{
        margin: 0 0 40px 0;
    } 


    .About-me-profession{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin: 0 0 20px 0;
    }

    .About-me-name{
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        color: #000;
        margin: 0 0 25px 0;
    }
    .About-me-discription{
        width: 400px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color:#595959
       
    }
    /*.My projects sections*/
    
    .My-projects-sections{
        margin: 0 0 50px 0;  
    }
    .My-projects-list{
        padding: 0 0 0 17px;
    }

    .My-projects-items{
        color: #000;
        font-weight: bold; 
    }
    .My-projects-link{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
    .My-projects-text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
        margin-left: 5px;
    }


    .My-projects-bracked{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #000;
    }
    
/*My work experience*/
    .My-work-experience-section{
        margin-bottom: 45px;
    }
    .My-work-experience-company{
        color:#FB6D3A;
    }


    
    .about-me-profession{
        font-size: 14px;
        font-weight: 700;
        color: #000;
    }
    .My-work-experience-position{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 10px 0;
    }    
    .My-work-experience-period{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color:#A8A8A8;
        margin: 0 0 10px 0;
    }  
    .My-work-experience-divider{
        color: #000;
    } 
    
    .My-work-experience-duties{
        padding: 0 0 0 18px;
    }
    .My-work-experience-duties{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #595959;
    }
    .My-work-experience-position-company-block{
        margin: 0 15px 0 0;
    }
     


.sidebar-selection{
    background: #1e2939;
    width: 370px;
    padding: 40px 0;
}
.contact-section,
.soft-skills-section,
.tech-skills-section{
    margin : 50px 0 0 40px;
}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #ffff;
    margin-bottom: 10px;
}
/*contact section*/

.contact-section-type{
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin:0 0 0 40px;
    
    

}
.contact-section-type-link{
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 0 10px;
}

/*tech & soft-skills-list*/
.soft-skills-item,
.tech-skills-item{
    color: #FB6D3A;
     }
.soft-skills-list-text,
.tech-skills-list-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: white;
    margin: 0 0 0 10px;
}
.tech-skills-list,
.soft-skills-list{
    padding: 0 0 0 17px;
}



